*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgb(161, 122, 197);
}
.img1 {
    height: 350px;
    width: 300px;
    border-radius: 13px;
}
.img2 {
    height: 350px;
    width: 300px;
    border-radius: 13px;
}
button{
    padding: 10px 27px;
    background-color: rgb(222, 83, 83);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:active{
    scale: 0.9;
}